* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    font-style: normal;
}

/* Banner*/
.header {
    background-image: url('./images/banner/banner2.png');
    width: 1600px;
    height: 808px;
}

.banner-section {
    text-align: right;
    padding: 216px 230px 364px 845px;

    color: #151414;
}

.banner-heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    padding-bottom: 24px;
    color: #151414;
}

.banner-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: right;
}

.contactUs-btn {
    height: 65px;
    border: none;
    padding: 20px 25px 20px 25px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    line-height: 23px;
    background: #F15B22;
    color: #FFFFFF;
    cursor: pointer;
}

/* My Failure Section */
main {
    background-color: #ffffff;
    padding: 131px 322px 130px 206px;
}

.failures-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.failures-description {
    width: 416px;
    height: 400px;
    margin-left: 87px;
    margin-top: 80px;
}

.My-plan-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.My-plan-heading p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

.main-section-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    /* Future */

    color: #151414;
}

.text-of-sucess {
    color: #2dfca6e8;
}

.failures-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

        /*my Plans*/
.my-plan {
    margin-top: 130px;
    margin-bottom: 130px;
    width: 1141px;
    height: 299.96px;
}

.my-plan h3 {
    text-align: center;
    margin-bottom: 55.7px;
}

.plan-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.list-items {
    text-align: center;
}

.list-items h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 12px;
    margin-bottom: 12px;

}

.list-items p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;

}

/* image */
.keeppsitive-banner{
    position: relative;
    background-image: url("/images/watch.png");
    width: 1140px;
    height: 300px;
    border-radius: 12px;
}

.keeppsitive-content {
    content: " ";
    position: absolute;
    background: linear-gradient(90deg, #e24202 0%, rgba(216, 84, 32, 0) 100%);
    border-radius: 10px;
    width: 1140px;
    height: 300px;
    z-index: 2;
}

.keeppsitive-content {
    padding: 59px 617px 59px 64px;
    z-index: 1;
    position: absolute;
}

.keeppsitive-content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
}

.Subscribe-button {
    height: 64px;
    width: 160px;
    border: none;
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    line-height: 23px;
    background: #FFFFFF;
    color: #e24202;
    cursor: pointer;
}

/*  Footer section */
footer {
    width: 1600px;
    height: 577px;
    padding: 130px 230px;
    background: #151414;
    display: flex;

}

.footer-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;

}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.footer-left {
    width: 485px;
    height: 317px;
}

.contact-option {
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0;
    color: #FFFFFF;

}

.social-icon {
    padding-top: 20px;
}

.social-icon img {
    margin-right: 20px;
}

.footer-second-heading {
    font-weight: 650;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-right {
    width: 325px;
    height: 204px;
    margin-left: 331px;
}

.footer-email-input {
    width: 330px;
    height: 65px;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    border-radius: 10px;
}